header, 
section h2, 
section h3,
form button {
    font-family: 'Bungee', cursive;
    font-weight: normal;
}

body, 
input, 
textarea {
    font-family: 'Roboto', sans-serif
}

section {
    color: #182C61;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
}
